body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(77,61,58,1);
    background-image: url("../img/apocalypse.jpg");
    background-size: cover;
    background-attachment: fixed;
}

* {cursor: url(http://ani.cursors-4u.net/cursors/cur-13/cur1157.ani), url(http://ani.cursors-4u.net/cursors/cur-13/cur1157.png), auto !important;}

main {
    background: white;
}

.penguin {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
}

main h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1em;
}

audio {
    width: 100%;
    padding-top: 2em;
}

audio:focus {
    outline: none;
}

footer {
    font-size: 0.8em;
    color: rgba(77,61,58,0.6);
}

.lead {
    font-size: 1.2em;
    color: rgba(77,61,58,0.8);
    padding-bottom: 1em;
}

.content {
    margin: 1em 4em;
    width: 40em;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .content {
        margin: 1em auto;
        width: 90%;
    }
}

.container {
    padding: 1em 1em;
}

.cover-image {
    width: 100%;
}

.credits {
    list-style: none;
}

.list-item {
    color: rgba(77,61,58,0.8);
    padding-bottom: 1em;
}

.list-item:hover {
    color: rgba(77,61,58,1);
}